/* macro:  */
	/* p8_03 (AH21) PRG1_PRU0_GPO19 (GPIO0_20) P8_03 */
	BONE_PIN(p8_03, default,   p8_03(PIN_INPUT, ))
	BONE_PIN(p8_03, gpio,      p8_03(PIN_INPUT, 7))
	BONE_PIN(p8_03, gpio_pu,   p8_03(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_03, gpio_pd,   p8_03(PIN_INPUT_PULLDOWN, 7))

	/* p8_04 (AC29) PRG0_PRU0_GPO5 (GPIO0_48) P8_04 */
	BONE_PIN(p8_04, default,   p8_04(PIN_INPUT, ))
	BONE_PIN(p8_04, gpio,      p8_04(PIN_INPUT, 7))
	BONE_PIN(p8_04, gpio_pu,   p8_04(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_04, gpio_pd,   p8_04(PIN_INPUT_PULLDOWN, 7))

	/* p8_05 (AH25) PRG1_PRU1_GPO12 (GPIO0_33) P8_05 */
	BONE_PIN(p8_05, default,   p8_05(PIN_INPUT, ))
	BONE_PIN(p8_05, gpio,      p8_05(PIN_INPUT, 7))
	BONE_PIN(p8_05, gpio_pu,   p8_05(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_05, gpio_pd,   p8_05(PIN_INPUT_PULLDOWN, 7))

	/* p8_06 (AG25) PRG1_PRU1_GPO13 (GPIO0_34) P8_06 */
	BONE_PIN(p8_06, default,   p8_06(PIN_INPUT, ))
	BONE_PIN(p8_06, gpio,      p8_06(PIN_INPUT, 7))
	BONE_PIN(p8_06, gpio_pu,   p8_06(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_06, gpio_pd,   p8_06(PIN_INPUT_PULLDOWN, 7))

	/* p8_07 (AD24) PRG1_PRU0_GPO14 (GPIO0_15) P8_07 */
	BONE_PIN(p8_07, default,   p8_07(PIN_INPUT, ))
	BONE_PIN(p8_07, can,       p8_07(PIN_INPUT, 6))	/* MCAN5_RX */
	BONE_PIN(p8_07, gpio,      p8_07(PIN_INPUT, 7))
	BONE_PIN(p8_07, gpio_pu,   p8_07(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_07, gpio_pd,   p8_07(PIN_INPUT_PULLDOWN, 7))

	/* p8_08 (AG24) PRG1_PRU0_GPO13 (GPIO0_14) P8_08 */
	BONE_PIN(p8_08, default,   p8_08(PIN_INPUT, ))
	BONE_PIN(p8_08, can,       p8_08(PIN_OUTPUT, 6))	/* MCAN5_TX */
	BONE_PIN(p8_08, gpio,      p8_08(PIN_INPUT, 7))
	BONE_PIN(p8_08, gpio_pu,   p8_08(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_08, gpio_pd,   p8_08(PIN_INPUT_PULLDOWN, 7))

	/* p8_09 (AE24) PRG1_PRU0_GPO16 (GPIO0_17) P8_09 */
	BONE_PIN(p8_09, default,   p8_09(PIN_INPUT, ))
	BONE_PIN(p8_09, gpio,      p8_09(PIN_INPUT, 7))
	BONE_PIN(p8_09, gpio_pu,   p8_09(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_09, gpio_pd,   p8_09(PIN_INPUT_PULLDOWN, 7))

	/* p8_10 (AC24) PRG1_PRU0_GPO15 (GPIO0_16) P8_10 */
	BONE_PIN(p8_10, default,   p8_10(PIN_INPUT, ))
	BONE_PIN(p8_10, gpio,      p8_10(PIN_INPUT, 7))
	BONE_PIN(p8_10, gpio_pu,   p8_10(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_10, gpio_pd,   p8_10(PIN_INPUT_PULLDOWN, 7))

	/* p8_11 (AB24) PRG0_PRU0_GPO17 (GPIO0_60) P8_11 */
	BONE_PIN(p8_11, default,   p8_11(PIN_INPUT, ))
	BONE_PIN(p8_11, gpio,      p8_11(PIN_INPUT, 7))
	BONE_PIN(p8_11, gpio_pu,   p8_11(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_11, gpio_pd,   p8_11(PIN_INPUT_PULLDOWN, 7))

	/* p8_12 (AH28) PRG0_PRU0_GPO16 (GPIO0_59) P8_12 */
	BONE_PIN(p8_12, default,   p8_12(PIN_INPUT, ))
	BONE_PIN(p8_12, gpio,      p8_12(PIN_INPUT, 7))
	BONE_PIN(p8_12, gpio_pu,   p8_12(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_12, gpio_pd,   p8_12(PIN_INPUT_PULLDOWN, 7))

	/* p8_13 (V27) RGMII5_TD1 (GPIO0_89) P8_13 */
	BONE_PIN(p8_13, default,   p8_13(PIN_INPUT, ))
	BONE_PIN(p8_13, gpio,      p8_13(PIN_INPUT, 7))
	BONE_PIN(p8_13, gpio_pu,   p8_13(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_13, gpio_pd,   p8_13(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(p8_13, pwm,       p8_13(PIN_OUTPUT, 6))	/* EHRPWM0_B */

	/* p8_14 (AF27) PRG0_PRU1_GPO12 (GPIO0_75) P8_14 */
	BONE_PIN(p8_14, default,   p8_14(PIN_INPUT, ))
	BONE_PIN(p8_14, gpio,      p8_14(PIN_INPUT, 7))
	BONE_PIN(p8_14, gpio_pu,   p8_14(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_14, gpio_pd,   p8_14(PIN_INPUT_PULLDOWN, 7))

	/* p8_15 (AB29) PRG0_PRU0_GPO18 (GPIO0_61) P8_15 */
	BONE_PIN(p8_15, default,   p8_15(PIN_INPUT, ))
	BONE_PIN(p8_15, gpio,      p8_15(PIN_INPUT, 7))
	BONE_PIN(p8_15, gpio_pu,   p8_15(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_15, gpio_pd,   p8_15(PIN_INPUT_PULLDOWN, 7))

	/* p8_16 (AB28) PRG0_PRU0_GPO19 (GPIO0_62) P8_16 */
	BONE_PIN(p8_16, default,   p8_16(PIN_INPUT, ))
	BONE_PIN(p8_16, gpio,      p8_16(PIN_INPUT, 7))
	BONE_PIN(p8_16, gpio_pu,   p8_16(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_16, gpio_pd,   p8_16(PIN_INPUT_PULLDOWN, 7))

	/* p8_17 (AF22) PRG1_PRU0_GPO2 (GPIO0_3) P8_17 */
	BONE_PIN(p8_17, default,   p8_17(PIN_INPUT, ))
	BONE_PIN(p8_17, gpio,      p8_17(PIN_INPUT, 7))
	BONE_PIN(p8_17, gpio_pu,   p8_17(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_17, gpio_pd,   p8_17(PIN_INPUT_PULLDOWN, 7))

	/* p8_18 (AJ23) PRG1_PRU0_GPO3 (GPIO0_4) P8_18 */
	BONE_PIN(p8_18, default,   p8_18(PIN_INPUT, ))
	BONE_PIN(p8_18, gpio,      p8_18(PIN_INPUT, 7))
	BONE_PIN(p8_18, gpio_pu,   p8_18(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_18, gpio_pd,   p8_18(PIN_INPUT_PULLDOWN, 7))

	/* p8_19 (V29) RGMII5_TD2 (GPIO0_88) P8_19 */
	BONE_PIN(p8_19, default,   p8_19(PIN_INPUT, ))
	BONE_PIN(p8_19, gpio,      p8_19(PIN_INPUT, 7))
	BONE_PIN(p8_19, gpio_pu,   p8_19(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_19, gpio_pd,   p8_19(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(p8_19, pwm,       p8_19(PIN_OUTPUT, 6))	/* EHRPWM0_A */

	/* p8_20 (AF26) PRG0_PRU1_GPO13 (GPIO0_76) P8_20 */
	BONE_PIN(p8_20, default,   p8_20(PIN_INPUT, ))
	BONE_PIN(p8_20, gpio,      p8_20(PIN_INPUT, 7))
	BONE_PIN(p8_20, gpio_pu,   p8_20(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_20, gpio_pd,   p8_20(PIN_INPUT_PULLDOWN, 7))

	/* p8_21 (AF21) PRG1_PRU1_GPO9 (GPIO0_30) P8_21 */
	BONE_PIN(p8_21, default,   p8_21(PIN_INPUT, ))
	BONE_PIN(p8_21, gpio,      p8_21(PIN_INPUT, 7))
	BONE_PIN(p8_21, gpio_pu,   p8_21(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_21, gpio_pd,   p8_21(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(p8_21, spi,       p8_21(PIN_OUTPUT, 4))	/* SPI6_CS3 */

	/* p8_22 (AH23) PRG1_PRU0_GPO4 (GPIO0_5) P8_22 */
	BONE_PIN(p8_22, default,   p8_22(PIN_INPUT, ))
	BONE_PIN(p8_22, gpio,      p8_22(PIN_INPUT, 7))
	BONE_PIN(p8_22, gpio_pu,   p8_22(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_22, gpio_pd,   p8_22(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(p8_22, uart,      p8_22(PIN_INPUT, 14))	/* UART2_RXD */

	/* p8_23 (AB23) PRG1_PRU1_GPO10 (GPIO0_31) P8_23 */
	BONE_PIN(p8_23, default,   p8_23(PIN_INPUT, ))
	BONE_PIN(p8_23, gpio,      p8_23(PIN_INPUT, 7))
	BONE_PIN(p8_23, gpio_pu,   p8_23(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_23, gpio_pd,   p8_23(PIN_INPUT_PULLDOWN, 7))

	/* p8_24 (AD20) PRG1_PRU0_GPO5 (GPIO0_6) P8_24 */
	BONE_PIN(p8_24, default,   p8_24(PIN_INPUT, ))
	BONE_PIN(p8_24, gpio,      p8_24(PIN_INPUT, 7))
	BONE_PIN(p8_24, gpio_pu,   p8_24(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_24, gpio_pd,   p8_24(PIN_INPUT_PULLDOWN, 7))

	/* p8_25 (AH26) PRG1_PRU1_GPO14 (GPIO0_35) P8_25 */
	BONE_PIN(p8_25, default,   p8_25(PIN_INPUT, ))
	BONE_PIN(p8_25, gpio,      p8_25(PIN_INPUT, 7))
	BONE_PIN(p8_25, gpio_pu,   p8_25(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_25, gpio_pd,   p8_25(PIN_INPUT_PULLDOWN, 7))

	/* p8_26 (AC27) PRG0_PRU0_GPO8 (GPIO0_51) P8_26 */
	BONE_PIN(p8_26, default,   p8_26(PIN_INPUT, ))
	BONE_PIN(p8_26, gpio,      p8_26(PIN_INPUT, 7))
	BONE_PIN(p8_26, gpio_pu,   p8_26(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_26, gpio_pd,   p8_26(PIN_INPUT_PULLDOWN, 7))

	/* p8_27 (AA28) PRG0_PRU1_GPO8 (GPIO0_71) P8_27 */
	BONE_PIN(p8_27, default,   p8_27(PIN_INPUT, ))
	BONE_PIN(p8_27, gpio,      p8_27(PIN_INPUT, 7))
	BONE_PIN(p8_27, gpio_pu,   p8_27(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_27, gpio_pd,   p8_27(PIN_INPUT_PULLDOWN, 7))

	/* p8_28 (Y24) PRG0_PRU1_GPO9 (GPIO0_72) P8_28 */
	BONE_PIN(p8_28, default,   p8_28(PIN_INPUT, ))
	BONE_PIN(p8_28, gpio,      p8_28(PIN_INPUT, 7))
	BONE_PIN(p8_28, gpio_pu,   p8_28(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_28, gpio_pd,   p8_28(PIN_INPUT_PULLDOWN, 7))

	/* p8_29 (AA25) PRG0_PRU1_GPO10 (GPIO0_73) P8_29 */
	BONE_PIN(p8_29, default,   p8_29(PIN_INPUT, ))
	BONE_PIN(p8_29, gpio,      p8_29(PIN_INPUT, 7))
	BONE_PIN(p8_29, gpio_pu,   p8_29(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_29, gpio_pd,   p8_29(PIN_INPUT_PULLDOWN, 7))

	/* p8_30 (AG26) PRG0_PRU1_GPO11 (GPIO0_74) P8_30 */
	BONE_PIN(p8_30, default,   p8_30(PIN_INPUT, ))
	BONE_PIN(p8_30, gpio,      p8_30(PIN_INPUT, 7))
	BONE_PIN(p8_30, gpio_pu,   p8_30(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_30, gpio_pd,   p8_30(PIN_INPUT_PULLDOWN, 7))

	/* p8_31a (AJ25) PRG1_PRU1_GPO11 (GPIO0_32) P8_31A */
	BONE_PIN(p8_31a, default,   p8_31a(PIN_INPUT, ))
	BONE_PIN(p8_31a, gpio,      p8_31a(PIN_INPUT, 7))
	BONE_PIN(p8_31a, gpio_pu,   p8_31a(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_31a, gpio_pd,   p8_31a(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(p8_31a, qep,       p8_31a(PIN_INPUT, 9))	/* EQEP1_I */

	/* p8_31b (AE29) PRG0_PRU1_GPO0 (GPIO0_63) P8_31B */
	BONE_PIN(p8_31b, default,   p8_31b(PIN_INPUT, ))
	BONE_PIN(p8_31b, gpio,      p8_31b(PIN_INPUT, 7))
	BONE_PIN(p8_31b, gpio_pu,   p8_31b(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_31b, gpio_pd,   p8_31b(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(p8_31b, uart,      p8_31b(PIN_INPUT, 14))	/* UART5_RXD */

	/* p8_32a (AG21) PRG1_PRU1_GPO5 (GPIO0_26) P8_32A */
	BONE_PIN(p8_32a, default,   p8_32a(PIN_INPUT, ))
	BONE_PIN(p8_32a, gpio,      p8_32a(PIN_INPUT, 7))
	BONE_PIN(p8_32a, gpio_pu,   p8_32a(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_32a, gpio_pd,   p8_32a(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(p8_32a, timer,     p8_32a(PIN_OUTPUT, 14))	/* TIMER_IO4 */
	BONE_PIN(p8_32a, qep,       p8_32a(PIN_INPUT, 9))	/* EQEP1_S */

	/* p8_32b (AD28) PRG0_PRU1_GPO1 (GPIO0_64) P8_32B */
	BONE_PIN(p8_32b, default,   p8_32b(PIN_INPUT, ))
	BONE_PIN(p8_32b, gpio,      p8_32b(PIN_INPUT, 7))
	BONE_PIN(p8_32b, gpio_pu,   p8_32b(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_32b, gpio_pd,   p8_32b(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(p8_32b, uart,      p8_32b(PIN_OUTPUT, 14))	/* UART5_TXD */

	/* p8_33a (AH24) PRG1_PRU1_GPO4 (GPIO0_25) P8_33A */
	BONE_PIN(p8_33a, default,   p8_33a(PIN_INPUT, ))
	BONE_PIN(p8_33a, gpio,      p8_33a(PIN_INPUT, 7))
	BONE_PIN(p8_33a, gpio_pu,   p8_33a(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_33a, gpio_pd,   p8_33a(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(p8_33a, timer,     p8_33a(PIN_OUTPUT, 14))	/* TIMER_IO3 */
	BONE_PIN(p8_33a, qep,       p8_33a(PIN_INPUT, 9))	/* EQEP1_B */

	/* p8_33b (AA2) SPI0_CS0 (GPIO0_111) P8_33B */
	BONE_PIN(p8_33b, default,   p8_33b(PIN_INPUT, ))
	BONE_PIN(p8_33b, gpio,      p8_33b(PIN_INPUT, 7))
	BONE_PIN(p8_33b, gpio_pu,   p8_33b(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_33b, gpio_pd,   p8_33b(PIN_INPUT_PULLDOWN, 7))

	/* p8_34 (AD22) PRG1_PRU0_GPO6 (GPIO0_7) P8_34 */
	BONE_PIN(p8_34, default,   p8_34(PIN_INPUT, ))
	BONE_PIN(p8_34, gpio,      p8_34(PIN_INPUT, 7))
	BONE_PIN(p8_34, gpio_pu,   p8_34(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_34, gpio_pd,   p8_34(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(p8_34, uart,      p8_34(PIN_OUTPUT, 14))	/* UART2_TXD */

	/* p8_35a (AD23) PRG1_PRU1_GPO3 (GPIO0_24) P8_35A */
	BONE_PIN(p8_35a, default,   p8_35a(PIN_INPUT, ))
	BONE_PIN(p8_35a, gpio,      p8_35a(PIN_INPUT, 7))
	BONE_PIN(p8_35a, gpio_pu,   p8_35a(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_35a, gpio_pd,   p8_35a(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(p8_35a, timer,     p8_35a(PIN_OUTPUT, 14))	/* TIMER_IO2 */
	BONE_PIN(p8_35a, qep,       p8_35a(PIN_INPUT, 9))	/* EQEP1_A */

	/* p8_35b (Y3) SPI1_CS0 (GPIO0_116) P8_35B */
	BONE_PIN(p8_35b, default,   p8_35b(PIN_INPUT, ))
	BONE_PIN(p8_35b, gpio,      p8_35b(PIN_INPUT, 7))
	BONE_PIN(p8_35b, gpio_pu,   p8_35b(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_35b, gpio_pd,   p8_35b(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(p8_35b, uart,      p8_35b(PIN_INPUT, 3))	/* UART5_RXD */

	/* p8_36 (AE20) PRG1_PRU0_GPO7 (GPIO0_8) P8_36 */
	BONE_PIN(p8_36, default,   p8_36(PIN_INPUT, ))
	BONE_PIN(p8_36, can,       p8_36(PIN_OUTPUT, 6))	/* MCAN4_TX */
	BONE_PIN(p8_36, gpio,      p8_36(PIN_INPUT, 7))
	BONE_PIN(p8_36, gpio_pu,   p8_36(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_36, gpio_pd,   p8_36(PIN_INPUT_PULLDOWN, 7))

	/* p8_37a (Y27) RGMII6_RD2 (GPIO0_106) P8_37A */
	BONE_PIN(p8_37a, default,   p8_37a(PIN_INPUT, ))
	BONE_PIN(p8_37a, gpio,      p8_37a(PIN_INPUT, 7))
	BONE_PIN(p8_37a, gpio_pu,   p8_37a(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_37a, gpio_pd,   p8_37a(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(p8_37a, pwm,       p8_37a(PIN_OUTPUT, 6))	/* EHRPWM5_A */
	BONE_PIN(p8_37a, uart,      p8_37a(PIN_OUTPUT, 3))	/* UART5_TXD */

	/* p8_37b (AD21) PRG1_PRU0_GPO10 (GPIO0_11) P8_37B */
	BONE_PIN(p8_37b, default,   p8_37b(PIN_INPUT, ))
	BONE_PIN(p8_37b, gpio,      p8_37b(PIN_INPUT, 7))
	BONE_PIN(p8_37b, gpio_pu,   p8_37b(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_37b, gpio_pd,   p8_37b(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(p8_37b, spi,       p8_37b(PIN_OUTPUT, 4))	/* SPI6_CS2 */

	/* p8_38a (AJ20) PRG1_PRU0_GPO8 (GPIO0_9) P8_38A */
	BONE_PIN(p8_38a, default,   p8_38a(PIN_INPUT, ))
	BONE_PIN(p8_38a, can,       p8_38a(PIN_INPUT, 6))	/* MCAN4_RX */
	BONE_PIN(p8_38a, gpio,      p8_38a(PIN_INPUT, 7))
	BONE_PIN(p8_38a, gpio_pu,   p8_38a(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_38a, gpio_pd,   p8_38a(PIN_INPUT_PULLDOWN, 7))

	/* p8_38b (Y29) RGMII6_RD3 (GPIO0_105) P8_38B */
	BONE_PIN(p8_38b, default,   p8_38b(PIN_INPUT, ))
	BONE_PIN(p8_38b, gpio,      p8_38b(PIN_INPUT, 7))
	BONE_PIN(p8_38b, gpio_pu,   p8_38b(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_38b, gpio_pd,   p8_38b(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(p8_38b, uart,      p8_38b(PIN_INPUT, 3))	/* UART5_RXD */

	/* p8_39 (AC26) PRG0_PRU1_GPO6 (GPIO0_69) P8_39 */
	BONE_PIN(p8_39, default,   p8_39(PIN_INPUT, ))
	BONE_PIN(p8_39, gpio,      p8_39(PIN_INPUT, 7))
	BONE_PIN(p8_39, gpio_pu,   p8_39(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_39, gpio_pd,   p8_39(PIN_INPUT_PULLDOWN, 7))

	/* p8_40 (AA24) PRG0_PRU1_GPO7 (GPIO0_70) P8_40 */
	BONE_PIN(p8_40, default,   p8_40(PIN_INPUT, ))
	BONE_PIN(p8_40, gpio,      p8_40(PIN_INPUT, 7))
	BONE_PIN(p8_40, gpio_pu,   p8_40(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_40, gpio_pd,   p8_40(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(p8_40, uart,      p8_40(PIN_OUTPUT, 14))	/* UART2_TXD */

	/* p8_41 (AD29) PRG0_PRU1_GPO4 (GPIO0_67) P8_41 */
	BONE_PIN(p8_41, default,   p8_41(PIN_INPUT, ))
	BONE_PIN(p8_41, gpio,      p8_41(PIN_INPUT, 7))
	BONE_PIN(p8_41, gpio_pu,   p8_41(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_41, gpio_pd,   p8_41(PIN_INPUT_PULLDOWN, 7))

	/* p8_42 (AB27) PRG0_PRU1_GPO5 (GPIO0_68) P8_42 */
	BONE_PIN(p8_42, default,   p8_42(PIN_INPUT, ))
	BONE_PIN(p8_42, gpio,      p8_42(PIN_INPUT, 7))
	BONE_PIN(p8_42, gpio_pu,   p8_42(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_42, gpio_pd,   p8_42(PIN_INPUT_PULLDOWN, 7))

	/* p8_43 (AD27) PRG0_PRU1_GPO2 (GPIO0_65) P8_43 */
	BONE_PIN(p8_43, default,   p8_43(PIN_INPUT, ))
	BONE_PIN(p8_43, gpio,      p8_43(PIN_INPUT, 7))
	BONE_PIN(p8_43, gpio_pu,   p8_43(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_43, gpio_pd,   p8_43(PIN_INPUT_PULLDOWN, 7))

	/* p8_44 (AC25) PRG0_PRU1_GPO3 (GPIO0_66) P8_44 */
	BONE_PIN(p8_44, default,   p8_44(PIN_INPUT, ))
	BONE_PIN(p8_44, gpio,      p8_44(PIN_INPUT, 7))
	BONE_PIN(p8_44, gpio_pu,   p8_44(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_44, gpio_pd,   p8_44(PIN_INPUT_PULLDOWN, 7))

	/* p8_45 (AG29) PRG0_PRU1_GPO16 (GPIO0_79) P8_45 */
	BONE_PIN(p8_45, default,   p8_45(PIN_INPUT, ))
	BONE_PIN(p8_45, gpio,      p8_45(PIN_INPUT, 7))
	BONE_PIN(p8_45, gpio_pu,   p8_45(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_45, gpio_pd,   p8_45(PIN_INPUT_PULLDOWN, 7))

	/* p8_46 (Y25) PRG0_PRU1_GPO17 (GPIO0_80) P8_46 */
	BONE_PIN(p8_46, default,   p8_46(PIN_INPUT, ))
	BONE_PIN(p8_46, gpio,      p8_46(PIN_INPUT, 7))
	BONE_PIN(p8_46, gpio_pu,   p8_46(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p8_46, gpio_pd,   p8_46(PIN_INPUT_PULLDOWN, 7))

	/* p9_11 (AC23) PRG1_PRU0_GPO0 (GPIO0_1) P9_11 */
	BONE_PIN(p9_11, default,   p9_11(PIN_INPUT, ))
	BONE_PIN(p9_11, gpio,      p9_11(PIN_INPUT, 7))
	BONE_PIN(p9_11, gpio_pu,   p9_11(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p9_11, gpio_pd,   p9_11(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(p9_11, uart,      p9_11(PIN_INPUT, 14))	/* UART0_RXD */

	/* p9_12 (AE27) PRG0_PRU0_GPO2 (GPIO0_45) P9_12 */
	BONE_PIN(p9_12, default,   p9_12(PIN_INPUT, ))
	BONE_PIN(p9_12, gpio,      p9_12(PIN_INPUT, 7))
	BONE_PIN(p9_12, gpio_pu,   p9_12(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p9_12, gpio_pd,   p9_12(PIN_INPUT_PULLDOWN, 7))

	/* p9_13 (AG22) PRG1_PRU0_GPO1 (GPIO0_2) P9_13 */
	BONE_PIN(p9_13, default,   p9_13(PIN_INPUT, ))
	BONE_PIN(p9_13, gpio,      p9_13(PIN_INPUT, 7))
	BONE_PIN(p9_13, gpio_pu,   p9_13(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p9_13, gpio_pd,   p9_13(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(p9_13, uart,      p9_13(PIN_OUTPUT, 14))	/* UART0_TXD */

	/* p9_14 (U27) RGMII5_RD3 (GPIO0_93) P9_14 */
	BONE_PIN(p9_14, default,   p9_14(PIN_INPUT, ))
	BONE_PIN(p9_14, gpio,      p9_14(PIN_INPUT, 7))
	BONE_PIN(p9_14, gpio_pu,   p9_14(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p9_14, gpio_pd,   p9_14(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(p9_14, pwm,       p9_14(PIN_OUTPUT, 6))	/* EHRPWM2_A */

	/* p9_15 (AD25) PRG0_PRU0_GPO4 (GPIO0_47) P9_15 */
	BONE_PIN(p9_15, default,   p9_15(PIN_INPUT, ))
	BONE_PIN(p9_15, gpio,      p9_15(PIN_INPUT, 7))
	BONE_PIN(p9_15, gpio_pu,   p9_15(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p9_15, gpio_pd,   p9_15(PIN_INPUT_PULLDOWN, 7))

	/* p9_16 (U24) RGMII5_RD2 (GPIO0_94) P9_16 */
	BONE_PIN(p9_16, default,   p9_16(PIN_INPUT, ))
	BONE_PIN(p9_16, gpio,      p9_16(PIN_INPUT, 7))
	BONE_PIN(p9_16, gpio_pu,   p9_16(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p9_16, gpio_pd,   p9_16(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(p9_16, pwm,       p9_16(PIN_OUTPUT, 6))	/* EHRPWM2_B */

	/* p9_17a (AC21) PRG1_PRU1_GPO7 (GPIO0_28) P9_17A */
	BONE_PIN(p9_17a, default,   p9_17a(PIN_INPUT, ))
	BONE_PIN(p9_17a, gpio,      p9_17a(PIN_INPUT, 7))
	BONE_PIN(p9_17a, gpio_pu,   p9_17a(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p9_17a, gpio_pd,   p9_17a(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(p9_17a, spi,       p9_17a(PIN_OUTPUT, 4))	/* SPI6_CS0 */

	/* p9_17b (AA3) SPI0_D1 (GPIO0_115) P9_17B */
	BONE_PIN(p9_17b, default,   p9_17b(PIN_INPUT, ))
	BONE_PIN(p9_17b, gpio,      p9_17b(PIN_INPUT, 7))
	BONE_PIN(p9_17b, gpio_pu,   p9_17b(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p9_17b, gpio_pd,   p9_17b(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(p9_17b, i2c,       p9_17b(PIN_INPUT_PULLUP, 2))	/* I2C6_SCL */

	/* p9_18a (AH22) PRG1_PRU1_GPO19 (GPIO0_40) P9_18A */
	BONE_PIN(p9_18a, default,   p9_18a(PIN_INPUT, ))
	BONE_PIN(p9_18a, gpio,      p9_18a(PIN_INPUT, 7))
	BONE_PIN(p9_18a, gpio_pu,   p9_18a(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p9_18a, gpio_pd,   p9_18a(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(p9_18a, spi,       p9_18a(PIN_OUTPUT, 4))	/* SPI6_D1 */

	/* p9_18b (Y2) SPI1_D1 (GPIO0_120) P9_18B */
	BONE_PIN(p9_18b, default,   p9_18b(PIN_INPUT, ))
	BONE_PIN(p9_18b, gpio,      p9_18b(PIN_INPUT, 7))
	BONE_PIN(p9_18b, gpio_pu,   p9_18b(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p9_18b, gpio_pd,   p9_18b(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(p9_18b, i2c,       p9_18b(PIN_INPUT_PULLUP, 2))	/* I2C6_SDA */

	/* p9_19a (W5) MCAN0_RX (GPIO1_1) P9_19A */
	BONE_PIN(p9_19a, default,   p9_19a(PIN_INPUT, ))
	BONE_PIN(p9_19a, can,       p9_19a(PIN_INPUT, 0))	/* MCAN0_RX */
	BONE_PIN(p9_19a, gpio,      p9_19a(PIN_INPUT, 7))
	BONE_PIN(p9_19a, gpio_pu,   p9_19a(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p9_19a, gpio_pd,   p9_19a(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(p9_19a, i2c,       p9_19a(PIN_INPUT_PULLUP, 4))	/* I2C2_SCL */

	/* p9_19b (AF29) PRG0_PRU1_GPO15 (GPIO0_78) P9_19B */
	BONE_PIN(p9_19b, default,   p9_19b(PIN_INPUT, ))
	BONE_PIN(p9_19b, gpio,      p9_19b(PIN_INPUT, 7))
	BONE_PIN(p9_19b, gpio_pu,   p9_19b(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p9_19b, gpio_pd,   p9_19b(PIN_INPUT_PULLDOWN, 7))

	/* p9_20a (W6) MCAN0_TX (GPIO1_2) P9_20A */
	BONE_PIN(p9_20a, default,   p9_20a(PIN_INPUT, ))
	BONE_PIN(p9_20a, can,       p9_20a(PIN_OUTPUT, 0))	/* MCAN0_TX */
	BONE_PIN(p9_20a, gpio,      p9_20a(PIN_INPUT, 7))
	BONE_PIN(p9_20a, gpio_pu,   p9_20a(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p9_20a, gpio_pd,   p9_20a(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(p9_20a, i2c,       p9_20a(PIN_INPUT_PULLUP, 4))	/* I2C2_SDA */

	/* p9_20b (AE25) PRG0_PRU1_GPO14 (GPIO0_77) P9_20B */
	BONE_PIN(p9_20b, default,   p9_20b(PIN_INPUT, ))
	BONE_PIN(p9_20b, gpio,      p9_20b(PIN_INPUT, 7))
	BONE_PIN(p9_20b, gpio_pu,   p9_20b(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p9_20b, gpio_pd,   p9_20b(PIN_INPUT_PULLDOWN, 7))

	/* p9_21a (AJ22) PRG1_PRU1_GPO18 (GPIO0_39) P9_21A */
	BONE_PIN(p9_21a, default,   p9_21a(PIN_INPUT, ))
	BONE_PIN(p9_21a, gpio,      p9_21a(PIN_INPUT, 7))
	BONE_PIN(p9_21a, gpio_pu,   p9_21a(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p9_21a, gpio_pd,   p9_21a(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(p9_21a, spi,       p9_21a(PIN_OUTPUT, 4))	/* SPI6_D0 */

	/* p9_21b (U28) RGMII5_TD0 (GPIO0_90) P9_21B */
	BONE_PIN(p9_21b, default,   p9_21b(PIN_INPUT, ))
	BONE_PIN(p9_21b, gpio,      p9_21b(PIN_INPUT, 7))
	BONE_PIN(p9_21b, gpio_pu,   p9_21b(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p9_21b, gpio_pd,   p9_21b(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(p9_21b, pwm,       p9_21b(PIN_OUTPUT, 6))	/* EHRPWM1_A */

	/* p9_22a (AC22) PRG1_PRU1_GPO17 (GPIO0_38) P9_22A */
	BONE_PIN(p9_22a, default,   p9_22a(PIN_INPUT, ))
	BONE_PIN(p9_22a, gpio,      p9_22a(PIN_INPUT, 7))
	BONE_PIN(p9_22a, gpio_pu,   p9_22a(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p9_22a, gpio_pd,   p9_22a(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(p9_22a, spi,       p9_22a(PIN_OUTPUT, 4))	/* SPI6_CLK */

	/* p9_22b (U29) RGMII5_TXC (GPIO0_91) P9_22B */
	BONE_PIN(p9_22b, default,   p9_22b(PIN_INPUT, ))
	BONE_PIN(p9_22b, gpio,      p9_22b(PIN_INPUT, 7))
	BONE_PIN(p9_22b, gpio_pu,   p9_22b(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p9_22b, gpio_pd,   p9_22b(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(p9_22b, i2c,       p9_22b(PIN_INPUT_PULLUP, 2))	/* I2C6_SCL */
	BONE_PIN(p9_22b, pwm,       p9_22b(PIN_OUTPUT, 6))	/* EHRPWM1_B */

	/* p9_23 (AG20) PRG1_PRU0_GPO9 (GPIO0_10) P9_23 */
	BONE_PIN(p9_23, default,   p9_23(PIN_INPUT, ))
	BONE_PIN(p9_23, gpio,      p9_23(PIN_INPUT, 7))
	BONE_PIN(p9_23, gpio_pu,   p9_23(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p9_23, gpio_pd,   p9_23(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(p9_23, spi,       p9_23(PIN_OUTPUT, 4))	/* SPI6_CS1 */

	/* p9_24a (Y5) SPI1_D0 (GPIO0_119) P9_24A */
	BONE_PIN(p9_24a, default,   p9_24a(PIN_INPUT, ))
	BONE_PIN(p9_24a, gpio,      p9_24a(PIN_INPUT, 7))
	BONE_PIN(p9_24a, gpio_pu,   p9_24a(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p9_24a, gpio_pd,   p9_24a(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(p9_24a, i2c,       p9_24a(PIN_INPUT_PULLUP, 2))	/* I2C4_SCL */
	BONE_PIN(p9_24a, uart,      p9_24a(PIN_OUTPUT, 3))	/* UART2_TXD */

	/* p9_24b (AJ24) PRG1_PRU0_GPO12 (GPIO0_13) P9_24B */
	BONE_PIN(p9_24b, default,   p9_24b(PIN_INPUT, ))
	BONE_PIN(p9_24b, can,       p9_24b(PIN_INPUT, 6))	/* MCAN4_RX */
	BONE_PIN(p9_24b, gpio,      p9_24b(PIN_INPUT, 7))
	BONE_PIN(p9_24b, gpio_pu,   p9_24b(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p9_24b, gpio_pd,   p9_24b(PIN_INPUT_PULLDOWN, 7))

	/* p9_25a (AC4) UART1_CTSn (GPIO0_127) P9_25A */
	BONE_PIN(p9_25a, default,   p9_25a(PIN_INPUT, ))
	BONE_PIN(p9_25a, gpio,      p9_25a(PIN_INPUT, 7))
	BONE_PIN(p9_25a, gpio_pu,   p9_25a(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p9_25a, gpio_pd,   p9_25a(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(p9_25a, qep,       p9_25a(PIN_INPUT, 5))	/* EQEP0_S */

	/* p9_25b (W26) RGMII6_RXC (GPIO0_104) P9_25B */
	BONE_PIN(p9_25b, default,   p9_25b(PIN_INPUT, ))
	BONE_PIN(p9_25b, gpio,      p9_25b(PIN_INPUT, 7))
	BONE_PIN(p9_25b, gpio_pu,   p9_25b(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p9_25b, gpio_pd,   p9_25b(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(p9_25b, pwm,       p9_25b(PIN_OUTPUT, 6))	/* EHRPWM4_B */

	/* p9_26a (Y1) SPI1_CLK (GPIO0_118) P9_26A */
	BONE_PIN(p9_26a, default,   p9_26a(PIN_INPUT, ))
	BONE_PIN(p9_26a, gpio,      p9_26a(PIN_INPUT, 7))
	BONE_PIN(p9_26a, gpio_pu,   p9_26a(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p9_26a, gpio_pd,   p9_26a(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(p9_26a, i2c,       p9_26a(PIN_INPUT_PULLUP, 2))	/* I2C4_SDA */
	BONE_PIN(p9_26a, uart,      p9_26a(PIN_INPUT, 3))	/* UART2_RXD */

	/* p9_26b (AF24) PRG1_PRU0_GPO11 (GPIO0_12) P9_26B */
	BONE_PIN(p9_26b, default,   p9_26b(PIN_INPUT, ))
	BONE_PIN(p9_26b, can,       p9_26b(PIN_OUTPUT, 6))	/* MCAN4_TX */
	BONE_PIN(p9_26b, gpio,      p9_26b(PIN_INPUT, 7))
	BONE_PIN(p9_26b, gpio_pu,   p9_26b(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p9_26b, gpio_pd,   p9_26b(PIN_INPUT_PULLDOWN, 7))

	/* p9_27a (AD26) PRG0_PRU0_GPO3 (GPIO0_46) P9_27A */
	BONE_PIN(p9_27a, default,   p9_27a(PIN_INPUT, ))
	BONE_PIN(p9_27a, gpio,      p9_27a(PIN_INPUT, 7))
	BONE_PIN(p9_27a, gpio_pu,   p9_27a(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p9_27a, gpio_pd,   p9_27a(PIN_INPUT_PULLDOWN, 7))

	/* p9_27b (AB1) UART0_RTSn (GPIO0_124) P9_27B */
	BONE_PIN(p9_27b, default,   p9_27b(PIN_INPUT, ))
	BONE_PIN(p9_27b, gpio,      p9_27b(PIN_INPUT, 7))
	BONE_PIN(p9_27b, gpio_pu,   p9_27b(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p9_27b, gpio_pd,   p9_27b(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(p9_27b, timer,     p9_27b(PIN_OUTPUT, 1))	/* TIMER_IO7 */
	BONE_PIN(p9_27b, qep,       p9_27b(PIN_INPUT, 5))	/* EQEP0_B */

	/* p9_28a (U2) ECAP0_IN_APWM_OUT (GPIO1_11) P9_28A */
	BONE_PIN(p9_28a, default,   p9_28a(PIN_INPUT, ))
	BONE_PIN(p9_28a, gpio,      p9_28a(PIN_INPUT, 7))
	BONE_PIN(p9_28a, gpio_pu,   p9_28a(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p9_28a, gpio_pd,   p9_28a(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(p9_28a, spi,       p9_28a(PIN_OUTPUT, 6))	/* SPI7_CS0 */

	/* p9_28b (AF28) PRG0_PRU0_GPO0 (GPIO0_43) P9_28B */
	BONE_PIN(p9_28b, default,   p9_28b(PIN_INPUT, ))
	BONE_PIN(p9_28b, gpio,      p9_28b(PIN_INPUT, 7))
	BONE_PIN(p9_28b, gpio_pu,   p9_28b(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p9_28b, gpio_pd,   p9_28b(PIN_INPUT_PULLDOWN, 7))

	/* p9_29a (V5) TIMER_IO1 (GPIO1_14) P9_29A */
	BONE_PIN(p9_29a, default,   p9_29a(PIN_INPUT, ))
	BONE_PIN(p9_29a, gpio,      p9_29a(PIN_INPUT, 7))
	BONE_PIN(p9_29a, gpio_pu,   p9_29a(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p9_29a, gpio_pd,   p9_29a(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(p9_29a, timer,     p9_29a(PIN_OUTPUT, 0))	/* TIMER_IO1 */
	BONE_PIN(p9_29a, spi,       p9_29a(PIN_OUTPUT, 6))	/* SPI7_D1 */

	/* p9_29b (AB25) PRG0_PRU0_GPO10 (GPIO0_53) P9_29B */
	BONE_PIN(p9_29b, default,   p9_29b(PIN_INPUT, ))
	BONE_PIN(p9_29b, gpio,      p9_29b(PIN_INPUT, 7))
	BONE_PIN(p9_29b, gpio_pu,   p9_29b(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p9_29b, gpio_pd,   p9_29b(PIN_INPUT_PULLDOWN, 7))

	/* p9_30a (V6) TIMER_IO0 (GPIO1_13) p9_30A */
	BONE_PIN(p9_30a, default,   p9_30a(PIN_INPUT, ))
	BONE_PIN(p9_30a, gpio,      p9_30a(PIN_INPUT, 7))
	BONE_PIN(p9_30a, gpio_pu,   p9_30a(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p9_30a, gpio_pd,   p9_30a(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(p9_30a, timer,     p9_30a(PIN_OUTPUT, 0))	/* TIMER_IO0 */
	BONE_PIN(p9_30a, spi,       p9_30a(PIN_OUTPUT, 6))	/* SPI7_D0 */

	/* p9_30b (AE28) PRG0_PRU0_GPO1 (GPIO0_44) p9_30B */
	BONE_PIN(p9_30b, default,   p9_30b(PIN_INPUT, ))
	BONE_PIN(p9_30b, gpio,      p9_30b(PIN_INPUT, 7))
	BONE_PIN(p9_30b, gpio_pu,   p9_30b(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p9_30b, gpio_pd,   p9_30b(PIN_INPUT_PULLDOWN, 7))

	/* p9_31a (U3) EXT_REFCLK1 (GPIO1_12) p9_31A */
	BONE_PIN(p9_31a, default,   p9_31a(PIN_INPUT, ))
	BONE_PIN(p9_31a, gpio,      p9_31a(PIN_INPUT, 7))
	BONE_PIN(p9_31a, gpio_pu,   p9_31a(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p9_31a, gpio_pd,   p9_31a(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(p9_31a, spi,       p9_31a(PIN_OUTPUT, 6))	/* SPI7_CLK */

	/* p9_31b (AB26) PRG0_PRU0_GPO9 (GPIO0_52) p9_31B */
	BONE_PIN(p9_31b, default,   p9_31b(PIN_INPUT, ))
	BONE_PIN(p9_31b, gpio,      p9_31b(PIN_INPUT, 7))
	BONE_PIN(p9_31b, gpio_pu,   p9_31b(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p9_31b, gpio_pd,   p9_31b(PIN_INPUT_PULLDOWN, 7))

	/* p9_33a (K24) MCU_ADC0_AIN4 (GPIO0_52) p9_33A */
	BONE_PIN(p9_33a, default,   p9_33a(PIN_INPUT, ))

	/* p9_33b (AC28) PRG0_PRU0_GPO7 (GPIO0_50) p9_33B */
	BONE_PIN(p9_33b, default,   p9_33b(PIN_INPUT, ))
	BONE_PIN(p9_33b, gpio,      p9_33b(PIN_INPUT, 7))
	BONE_PIN(p9_33b, gpio_pu,   p9_33b(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p9_33b, gpio_pd,   p9_33b(PIN_INPUT_PULLDOWN, 7))

	/* p9_35 (K29/AH27) MCU_ADC0_AIN6/PRG0_PRU0_GPO12 (GPIO0_55) K29_AH27 */
	BONE_PIN(p9_35, default,   p9_35B(PIN_INPUT, ))
	BONE_PIN(p9_35, gpio,      p9_35B(PIN_INPUT, 7))
	BONE_PIN(p9_35, gpio_pu,   p9_35B(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p9_35, gpio_pd,   p9_35B(PIN_INPUT_PULLDOWN, 7))

	/* p9_36 (K27/AH29) MCU_ADC0_AIN5/PRG0_PRU0_GPO13 (GPIO0_56) K27_AH29 */
	BONE_PIN(p9_36, default,   p9_36B(PIN_INPUT, ))
	BONE_PIN(p9_36, gpio,      p9_36B(PIN_INPUT, 7))
	BONE_PIN(p9_36, gpio_pu,   p9_36B(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p9_36, gpio_pd,   p9_36B(PIN_INPUT_PULLDOWN, 7))

	/* p9_37 (K28/AG28) MCU_ADC0_AIN2/PRG0_PRU0_GPO14 (GPIO0_57) K28_AG28 */
	BONE_PIN(p9_37, default,   p9_37B(PIN_INPUT, ))
	BONE_PIN(p9_37, gpio,      p9_37B(PIN_INPUT, 7))
	BONE_PIN(p9_37, gpio_pu,   p9_37B(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p9_37, gpio_pd,   p9_37B(PIN_INPUT_PULLDOWN, 7))

	/* p9_38 (L28/AG27) MCU_ADC0_AIN3/PRG0_PRU0_GPO15 (GPIO0_58) L28_AG27 */
	BONE_PIN(p9_38, default,   p9_38B(PIN_INPUT, ))
	BONE_PIN(p9_38, gpio,      p9_38B(PIN_INPUT, 7))
	BONE_PIN(p9_38, gpio_pu,   p9_38B(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p9_38, gpio_pd,   p9_38B(PIN_INPUT_PULLDOWN, 7))

	/* p9_39 (K25/AJ28) MCU_ADC0_AIN0/PRG0_PRU0_GPO11 (GPIO0_54) K25_AJ28 */
	BONE_PIN(p9_39, default,   p9_39B(PIN_INPUT, ))
	BONE_PIN(p9_39, gpio,      p9_39B(PIN_INPUT, 7))
	BONE_PIN(p9_39, gpio_pu,   p9_39B(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p9_39, gpio_pd,   p9_39B(PIN_INPUT_PULLDOWN, 7))

	/* p9_40 (K26/AA26) MCU_ADC0_AIN1/PRG0_PRU1_GPO18 (GPIO0_81) K26_AA26 */
	BONE_PIN(p9_40, default,   p9_40B(PIN_INPUT, ))
	BONE_PIN(p9_40, gpio,      p9_40B(PIN_INPUT, 7))
	BONE_PIN(p9_40, gpio_pu,   p9_40B(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p9_40, gpio_pd,   p9_40B(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(p9_40, uart,      p9_40B(PIN_INPUT, 14))	/* UART2_RXD */

	/* p9_41 (AD5) UART1_RTSn (GPIO1_0) AD5_EQEP0_I */
	BONE_PIN(p9_41, default,   p9_41(PIN_INPUT, 7))
	BONE_PIN(p9_41, gpio,      p9_41(PIN_INPUT, 7))
	BONE_PIN(p9_41, gpio_pu,   p9_41(PIN_INPUT_PULLUP, 7))
	BONE_PIN(p9_41, gpio_pd,   p9_41(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(p9_41, qep,       p9_41(PIN_INPUT, 5))	/* EQEP0_I */

	/* p9_42 (AC2/AJ21) UART0_CTSn/PRG1_PRU0_GPO17 (GPIO0_123/GPIO0_18) AC2_AJ21 */
	BONE_PIN(p9_42, default,   p9_42A(PIN_INPUT, 7) p9_42B(PIN_INPUT, 7))
	BONE_PIN(p9_42, can,       p9_42A(PIN_INPUT, 7) p9_42B(PIN_OUTPUT, 6) )	/* MCAN5_TX */
	BONE_PIN(p9_42, gpio,      p9_42A(PIN_INPUT, 7) p9_42B(PIN_INPUT, 7))	/* GPIO0_123 */
	BONE_PIN(p9_42, gpio_pu,   p9_42A(PIN_INPUT_PULLUP, 7) p9_42B(PIN_INPUT, 7))
	BONE_PIN(p9_42, gpio_pd,   p9_42A(PIN_INPUT_PULLDOWN, 7) p9_42B(PIN_INPUT, 7))
	BONE_PIN(p9_42, timer,     p9_42A(PIN_OUTPUT, 1) p9_42B(PIN_INPUT, 7))	/* TIMER_IO6 */
	BONE_PIN(p9_42, qep,       p9_42A(PIN_INPUT, 5) p9_42B(PIN_INPUT, 7))	/* EQEP0_A */



