/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/leds/common.h>

/*
 * Helper to show loaded overlays under: /proc/device-tree/chosen/overlays/
 */
&{/chosen} {
	overlays {
		k3-am62-pocketbeagle2-led-all.kernel = __TIMESTAMP__;
	};
};

&{/} {
	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&P1_02_E18_gpio>,
					<&P1_04_D20_gpio>,
					<&P1_06_E19_gpio>,
					<&P1_08_gpio>,
					<&P1_10_A18_gpio>,
					<&P1_12_A19_gpio>,
					<&P1_13_gpio>,
					<&P1_19_gpio>,
					<&P1_20_gpio>,
					<&P1_21_gpio>,
					<&P1_23_gpio>,
					<&P1_25_gpio>,
					<&P1_27_gpio>,
					<&P1_29_gpio>,
					<&P1_30_gpio>,
					<&P1_31_gpio>;

		bootph-all;

		pin@102 {
			label = "P1_02";
			linux,default-trigger = "heartbeat";
			gpios = <&main_gpio1 10 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};

		pin@104 {
			label = "P1_04";
			linux,default-trigger = "heartbeat";
			gpios = <&main_gpio1 12 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};

		pin@106 {
			label = "P1_06";
			linux,default-trigger = "heartbeat";
			gpios = <&main_gpio1 13 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};

		pin@108 {
			label = "P1_08";
			linux,default-trigger = "heartbeat";
			gpios = <&main_gpio1 14 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};

		pin@110 {
			label = "P1_10";
			linux,default-trigger = "heartbeat";
			gpios = <&main_gpio1 30 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};

		pin@112 {
			label = "P1_12";
			linux,default-trigger = "heartbeat";
			gpios = <&main_gpio1 8 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};

		pin@113 {
			label = "P1_13";
			linux,default-trigger = "heartbeat";
			gpios = <&main_gpio0 36 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};

		pin@119 {
			label = "P1_19";
			linux,default-trigger = "heartbeat";
			gpios = <&main_gpio1 1 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};

		pin@120 {
			label = "P1_20";
			linux,default-trigger = "heartbeat";
			gpios = <&main_gpio0 50 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};

		pin@121 {
			label = "P1_21";
			linux,default-trigger = "heartbeat";
			gpios = <&main_gpio1 6 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};

		pin@123 {
			label = "P1_23";
			linux,default-trigger = "heartbeat";
			gpios = <&main_gpio1 5 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};

		pin@125 {
			label = "P1_25";
			linux,default-trigger = "heartbeat";
			gpios = <&main_gpio1 4 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};

		pin@127 {
			label = "P1_27";
			linux,default-trigger = "heartbeat";
			gpios = <&main_gpio1 3 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};

		pin@129 {
			label = "P1_29";
			linux,default-trigger = "heartbeat";
			gpios = <&main_gpio0 62 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};

		pin@130 {
			label = "P1_30";
			linux,default-trigger = "heartbeat";
			gpios = <&main_gpio1 21 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};

		pin@131 {
			label = "P1_31";
			linux,default-trigger = "heartbeat";
			gpios = <&main_gpio0 59 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};
	};
};
