/* macro:  */
	/* hat_03 (E11) MCU_I2C0_SDA () GPIO2 */
	BONE_PIN(hat_03, default,   hat_03(PIN_INPUT, ))

	/* hat_05 (B13) MCU_I2C0_SCL () GPIO3 */
	BONE_PIN(hat_05, default,   hat_05(PIN_INPUT, ))

	/* hat_07 (W26) GPMC0_WAIT1 (GPIO0_38) GPIO4 */
	BONE_PIN(hat_07, default,   hat_07(PIN_INPUT, ))
	BONE_PIN(hat_07, gpio,      hat_07(PIN_INPUT, 7))
	BONE_PIN(hat_07, gpio_pu,   hat_07(PIN_INPUT_PULLUP, 7))
	BONE_PIN(hat_07, gpio_pd,   hat_07(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(hat_07, qep,       hat_07(PIN_INPUT, 8))	/* EQEP2_I */

	/* hat_08 (F24) MCASP0_ACLKR (GPIO1_14) GPIO14 */
	BONE_PIN(hat_08, default,   hat_08(PIN_INPUT, ))
	BONE_PIN(hat_08, gpio,      hat_08(PIN_INPUT, 7))
	BONE_PIN(hat_08, gpio_pu,   hat_08(PIN_INPUT_PULLUP, 7))
	BONE_PIN(hat_08, gpio_pd,   hat_08(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(hat_08, pwm,       hat_08(PIN_OUTPUT, 6))	/* EHRPWM0_B */
	BONE_PIN(hat_08, qep,       hat_08(PIN_INPUT, 8))	/* EQEP1_I */

	/* hat_10 (C27) MCASP0_AFSR (GPIO1_13) GPIO15 */
	BONE_PIN(hat_10, default,   hat_10(PIN_INPUT, ))
	BONE_PIN(hat_10, gpio,      hat_10(PIN_INPUT, 7))
	BONE_PIN(hat_10, gpio_pu,   hat_10(PIN_INPUT_PULLUP, 7))
	BONE_PIN(hat_10, gpio_pd,   hat_10(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(hat_10, pwm,       hat_10(PIN_OUTPUT, 6))	/* EHRPWM0_A */
	BONE_PIN(hat_10, qep,       hat_10(PIN_INPUT, 8))	/* EQEP1_S */

	/* hat_11 (A26) MCASP0_AXR2 (GPIO1_8) GPIO17 */
	BONE_PIN(hat_11, default,   hat_11(PIN_INPUT, ))
	BONE_PIN(hat_11, gpio,      hat_11(PIN_INPUT, 7))
	BONE_PIN(hat_11, gpio_pu,   hat_11(PIN_INPUT_PULLUP, 7))
	BONE_PIN(hat_11, gpio_pd,   hat_11(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(hat_11, qep,       hat_11(PIN_INPUT, 8))	/* EQEP0_B */

	/* hat_12 (D25) MCASP0_ACLKX (GPIO1_11) GPIO18 */
	BONE_PIN(hat_12, default,   hat_12(PIN_INPUT, ))
	BONE_PIN(hat_12, gpio,      hat_12(PIN_INPUT, 7))
	BONE_PIN(hat_12, gpio_pu,   hat_12(PIN_INPUT_PULLUP, 7))
	BONE_PIN(hat_12, gpio_pd,   hat_12(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(hat_12, qep,       hat_12(PIN_INPUT, 8))	/* EQEP1_A */

	/* hat_13 (N22) GPMC0_OEn_REn (GPIO0_33) GPIO27 */
	BONE_PIN(hat_13, default,   hat_13(PIN_INPUT, ))
	BONE_PIN(hat_13, gpio,      hat_13(PIN_INPUT, 7))
	BONE_PIN(hat_13, gpio_pu,   hat_13(PIN_INPUT_PULLUP, 7))
	BONE_PIN(hat_13, gpio_pd,   hat_13(PIN_INPUT_PULLDOWN, 7))

	/* hat_15 (R27) GPMC0_CSn0 (GPIO0_41) GPIO22 */
	BONE_PIN(hat_15, default,   hat_15(PIN_INPUT, ))
	BONE_PIN(hat_15, gpio,      hat_15(PIN_INPUT, 7))
	BONE_PIN(hat_15, gpio_pu,   hat_15(PIN_INPUT_PULLUP, 7))
	BONE_PIN(hat_15, gpio_pd,   hat_15(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(hat_15, i2c,       hat_15(PIN_INPUT_PULLUP, 1))	/* I2C4_SCL */

	/* hat_16 (B5) MCU_UART0_CTSn (GPIO0_41) GPIO23 */
	BONE_PIN(hat_16, default,   hat_16(PIN_INPUT, ))

	/* hat_18 (C8) WKUP_UART0_TXD (GPIO0_41) GPIO24 */
	BONE_PIN(hat_18, default,   hat_18(PIN_INPUT, ))

	/* hat_19 (B12) MCU_SPI0_D0 (GPIO0_41) GPIO10 */
	BONE_PIN(hat_19, default,   hat_19(PIN_INPUT, ))

	/* hat_21 (C11) MCU_SPI0_D1 (GPIO0_41) GPIO9 */
	BONE_PIN(hat_21, default,   hat_21(PIN_INPUT, ))

	/* hat_22 (P21) GPMC0_CSn1 (GPIO0_42) GPIO25 */
	BONE_PIN(hat_22, default,   hat_22(PIN_INPUT, ))
	BONE_PIN(hat_22, gpio,      hat_22(PIN_INPUT, 7))
	BONE_PIN(hat_22, gpio_pu,   hat_22(PIN_INPUT_PULLUP, 7))
	BONE_PIN(hat_22, gpio_pd,   hat_22(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(hat_22, i2c,       hat_22(PIN_INPUT_PULLUP, 1))	/* I2C4_SDA */

	/* hat_23 (A9) MCU_SPI0_CLK (GPIO0_42) GPIO11 */
	BONE_PIN(hat_23, default,   hat_23(PIN_INPUT, ))

	/* hat_24 (C12) MCU_SPI0_CS0 (GPIO0_42) GPIO8 */
	BONE_PIN(hat_24, default,   hat_24(PIN_INPUT, ))

	/* hat_26 (B3) WKUP_UART0_RXD (GPIO0_42) GPIO7 */
	BONE_PIN(hat_26, default,   hat_26(PIN_INPUT, ))

	/* hat_27 (D11) WKUP_I2C0_SDA (GPIO0_42) GPIO0 */
	BONE_PIN(hat_27, default,   hat_27(PIN_INPUT, ))

	/* hat_28 (B9) WKUP_I2C0_SCL (GPIO0_42) GPIO1 */
	BONE_PIN(hat_28, default,   hat_28(PIN_INPUT, ))

	/* hat_29 (B20) SPI0_CS0 (GPIO1_15) GPIO5 */
	BONE_PIN(hat_29, default,   hat_29(PIN_INPUT, ))
	BONE_PIN(hat_29, gpio,      hat_29(PIN_INPUT, 7))
	BONE_PIN(hat_29, gpio_pu,   hat_29(PIN_INPUT_PULLUP, 7))
	BONE_PIN(hat_29, gpio_pd,   hat_29(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(hat_29, pwm,       hat_29(PIN_OUTPUT, 2))	/* EHRPWM0_A */

	/* hat_31 (D20) SPI0_CLK (GPIO1_17) GPIO6 */
	BONE_PIN(hat_31, default,   hat_31(PIN_INPUT, ))
	BONE_PIN(hat_31, gpio,      hat_31(PIN_INPUT, 7))
	BONE_PIN(hat_31, gpio_pu,   hat_31(PIN_INPUT_PULLUP, 7))
	BONE_PIN(hat_31, gpio_pd,   hat_31(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(hat_31, pwm,       hat_31(PIN_OUTPUT, 2))	/* EHRPWM1_A */

	/* hat_32 (C20) SPI0_CS1 (GPIO1_16) GPIO12 */
	BONE_PIN(hat_32, default,   hat_32(PIN_INPUT, ))
	BONE_PIN(hat_32, gpio,      hat_32(PIN_INPUT, 7))
	BONE_PIN(hat_32, gpio_pu,   hat_32(PIN_INPUT_PULLUP, 7))
	BONE_PIN(hat_32, gpio_pd,   hat_32(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(hat_32, pwm,       hat_32(PIN_OUTPUT, 2))	/* EHRPWM0_B */

	/* hat_33 (E19) SPI0_D0 (GPIO1_18) GPIO13 */
	BONE_PIN(hat_33, default,   hat_33(PIN_INPUT, ))
	BONE_PIN(hat_33, gpio,      hat_33(PIN_INPUT, 7))
	BONE_PIN(hat_33, gpio_pu,   hat_33(PIN_INPUT_PULLUP, 7))
	BONE_PIN(hat_33, gpio_pd,   hat_33(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(hat_33, pwm,       hat_33(PIN_OUTPUT, 2))	/* EHRPWM1_B */

	/* hat_35 (C26) MCASP0_AFSX (GPIO1_12) GPIO19 */
	BONE_PIN(hat_35, default,   hat_35(PIN_INPUT, ))
	BONE_PIN(hat_35, gpio,      hat_35(PIN_INPUT, 7))
	BONE_PIN(hat_35, gpio_pu,   hat_35(PIN_INPUT_PULLUP, 7))
	BONE_PIN(hat_35, gpio_pd,   hat_35(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(hat_35, qep,       hat_35(PIN_INPUT, 8))	/* EQEP1_B */

	/* hat_36 (A25) MCASP0_AXR3 (GPIO1_7) GPIO16 */
	BONE_PIN(hat_36, default,   hat_36(PIN_INPUT, ))
	BONE_PIN(hat_36, gpio,      hat_36(PIN_INPUT, 7))
	BONE_PIN(hat_36, gpio_pu,   hat_36(PIN_INPUT_PULLUP, 7))
	BONE_PIN(hat_36, gpio_pd,   hat_36(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(hat_36, qep,       hat_36(PIN_INPUT, 8))	/* EQEP0_A */

	/* hat_37 (P26) GPMC0_BE1n (GPIO0_36) GPIO26 */
	BONE_PIN(hat_37, default,   hat_37(PIN_INPUT, ))
	BONE_PIN(hat_37, gpio,      hat_37(PIN_INPUT, 7))
	BONE_PIN(hat_37, gpio_pu,   hat_37(PIN_INPUT_PULLUP, 7))
	BONE_PIN(hat_37, gpio_pd,   hat_37(PIN_INPUT_PULLDOWN, 7))

	/* hat_38 (F23) MCASP0_AXR0 (GPIO1_10) GPIO20 */
	BONE_PIN(hat_38, default,   hat_38(PIN_INPUT, ))
	BONE_PIN(hat_38, gpio,      hat_38(PIN_INPUT, 7))
	BONE_PIN(hat_38, gpio_pu,   hat_38(PIN_INPUT_PULLUP, 7))
	BONE_PIN(hat_38, gpio_pd,   hat_38(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(hat_38, pwm,       hat_38(PIN_OUTPUT, 6))	/* EHRPWM1_B */
	BONE_PIN(hat_38, qep,       hat_38(PIN_INPUT, 8))	/* EQEP0_I */

	/* hat_40 (B25) MCASP0_AXR1 (GPIO1_9) GPIO21 */
	BONE_PIN(hat_40, default,   hat_40(PIN_INPUT, ))
	BONE_PIN(hat_40, gpio,      hat_40(PIN_INPUT, 7))
	BONE_PIN(hat_40, gpio_pu,   hat_40(PIN_INPUT_PULLUP, 7))
	BONE_PIN(hat_40, gpio_pd,   hat_40(PIN_INPUT_PULLDOWN, 7))
	BONE_PIN(hat_40, pwm,       hat_40(PIN_OUTPUT, 6))	/* EHRPWM1_A */
	BONE_PIN(hat_40, qep,       hat_40(PIN_INPUT, 8))	/* EQEP0_S */



